.cmn_font_style{
  font-family: 'Roboto';
  font-style: normal;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #eff0f2;
  box-shadow: 0 0 0 0.25rem rgba(236, 239, 242, 0.25);
}
.cmn_font_size{
font-size: 14px;
line-height: 20px;
color: #676767;
font-weight: 400;
}
.cmn_result_btn{
  height: 49px;
  width: 231px;
  border: none;
  border-radius: 34px;
  color: #fff;
  font-size: 20px;

}
h5{
  margin-bottom: 0px;
}
.fileLoader{
  background-color: #00000099;
	overflow: hidden;
  filter: blur(1px);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
	z-index: 100000;
}